@import "./index.scss";

.booking--wrapper {
  width: 100%;
  height: max-content;
  background-color: rgba(115, 115, 115, 0.4);
  padding-top: 50px; //testing

  input {
    font-size: 1.3rem;
    padding: 8px 13px;
    border: none;
    border-radius: 5px;
  }
  input:focus {
    outline: none;
  }

  h2 {
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
    grid-column: span 2;
    text-align: center;
  }
  .txt {
    margin-top: 20px;
    // margin-bottom:2px;
    //   font-family: "Dancing Script", cursive;
    grid-column: span 2;
    //   text-align: center;
    font-size: 1rem;
    //   font-weight: bolder;
  }

  .personal-info {
    // @include setBorder(red);
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    //testing
    grid-template-columns: repeat(2, 50%);
    // grid-auto-columns: minmax("fit-content", auto);
    grid-auto-rows: minmax(auto,auto);
    grid-gap: 10px 6px;

    // input {
    //   font-size: 1.3rem;
    //   padding: 8px 13px;
    //   border: none;
    //   border-radius: 5px;
    // }
    .username,.contact {
      grid-column: span 1;
    }
    .next-btn {
      grid-column: span 2;
      justify-self: start;
      padding: 0.6rem 2rem;
      cursor: pointer;
      margin: 20px 0;
      font-size: 1.1rem;
    }

    @media  screen and (max-width:600px) {
      // @include setBorder(red);
      width:90%;
      .username,.contact{
        grid-column: span 2;
      }

    }
  }

  .select-package{
    width: 70%;
    @include setBorder(blue);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px 6px;
    
    h2{
      grid-column:span 3;
      margin-bottom:20px;
    }
  }
}
