@import "./index.scss";

.booking--wrapper {
  width: 100%;
  height: max-content;
  background-color: rgba($color: rgb(152, 217, 255), $alpha: 0.6);
  padding-top: 50px; //testing

  .personal-info {
    @include setBorder(red);
    width: 70%;
    margin: auto;
    margin-bottom:400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: minmax("fit-content", auto);
    grid-gap: 10px 6px;

    h2 {
      font-family: "Dancing Script", cursive;
      font-size: 3.5rem;
      grid-column: span 2;
      text-align: center;
    }
    .txt {
        margin-top:20px;
        margin-bottom:2px;
    //   font-family: "Dancing Script", cursive;
      grid-column: span 2;
    //   text-align: center;
      font-size:1.1rem;
    //   font-weight: bolder;
    }
    input {
      font-size: 1.3rem;
      padding: 8px 13px;
      border: none;
      border-radius: 5px;
    }
    .username {
      grid-column: span 1;
    }
    .next-btn {
      grid-column: span 2;
      justify-self: start;
      padding: 0.6rem 2rem;
      cursor: pointer;
      margin: 20px 0;
      font-size:1.1rem;
    }
  }

}
